.App-link {
  color: #61dafb;
}

.voter-list {
  align-items: center;
  justify-content: center;
  display: flex;
}

table,
th,
td {
  border: 1px solid;
  padding: 8px;
}

table {
  border-collapse: collapse;
}


.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 20px 10px;
  width: 20rem;
}


.login-wrapper,
.voting-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: ghostwhite;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 50px 25%;
  border-radius: 15px;
  color: mediumblue;
}

.signup-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  background-color: ghostwhite;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 50px 25%;
  border-radius: 15px;
  color: mediumblue
}

.signup-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* width: 20rem; */
  margin-bottom: 10px;
}

.signup-form-label {
  color: black;
  font-weight: 600;
}

label {
  text-align: left;
}

.checkmark {
  display: block;
  width: 5rem;
  margin: 20px auto 0 auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1.center {
  font-size: 50px
}

p.center {
  font-size: 30px;
}

input {
  padding-left: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: ghostwhite;
}

button {
  font-size: medium;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  border-radius: 15px;
  width: 20rem;
  border: none;
  background-color: royalblue;
  cursor: pointer;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
}

button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.child-one {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.child-two {
  display: inline-block;
  vertical-align: middle;
}

.child-two:hover {
  opacity: 0.5;
}

.link {
  text-decoration: none;
  color: mediumblue;
}

.error {
  margin-top: 15px;
  background-color: #Ffeded;
  width: 20rem;
  border: 1.5px solid red;
  padding: 5px;
  text-align: center;
}

.error-title {
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.error-content {
  color: black;
  font-size: 15px;
}

.voting-page {
  text-align: center;
}

.voting-page h1 {
  font-size: 50px;
}

.voting-page label {
  font-size: 25px;
  color: black;
  font-weight: 500;
}

.voting-page input {
  transform: scale(1.5);
}

.candidate {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 10px;
  margin: 20px 20px 20px -6%;
  width: 100%;
}

.vote-success,
.votersList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

#signOut {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#signOut button {
  background-color: grey;
}

.wrap {
  display: grid;
  gap: 10px;
  grid-auto-flow: dense;
  width: auto;
  grid-template-columns: 200px 5fr 2fr;
}

/* .signup-form {
  align-items: left;
} */

.login-form {
  margin-top: -25px;
}

