.CandidateFormContainer {
    display: flex;
}

.table {
    border-collapse: collapse;
    margin: 25px 80px;
    font-size: 1.2em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.table thead tr {
    background-color: #2754bd;
    color: #ffffff;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr:nth-of-type(even) {
    background-color: #7bdae6;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #2754bd;
}

button {
    width: 10em;
}

.candidate-body {
    background-color: antiquewhite;
    flex-basis: 100%;
    display: flex;
    transition: margin-left .5s ease;
    min-height: 100vh;
    margin-left: 4rem;
    flex-direction: column;
    overflow: hidden;
}

.candidate-body-navbar {
    margin-left: 15%;
}

.candidate-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.candidate-body-wrap {
    background: ghostwhite;
    /* padding: 2rem; */
    /* margin: 15px 25%; */
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    margin: 1rem;
    width: 100%;
    max-width: 73rem;
    min-width: 700px;
    align-self: center;
}

.button-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

/* ----------- POP UP ------------ */

.popup {
    position: fixed;

    left: 35%;
    top: 10%;

    /* width: 50%; */

    border: 1px solid #011627;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    background-color: #FDFFFC;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    color: #011627;
}

.during-popup {
    filter: brightness(0.5);
}

.close-button {
    width: 2em;
    height: 2em;
    border: none;
    border-top-right-radius: 1em;
    align-self: flex-end;
    justify-self: flex-start;
    margin: 0.5rem;
    background: none;
    color: black;
    font-weight: bold;
    font-size: larger;
}

.pu-content-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    padding: 1.5rem 6rem;
}